[app]
expected_issuer = expected_issuer
expected_audience = expected_audience

jwt_sign_priv_key_path = secrets/jwt_sign.key
jwt_sign_crt_path = secrets/jwt_sign.crt

jwt_request_issuer_pub_key = secrets/jwt_sign.pub

irma_controller_session_url = http://localhost:8001/result

register_path = mock_register.json

[saml]
xml_templates_path = saml/templates/xml
sp_settings_path = saml/idp/settings.json

[uvicorn]
# The host to be running on
host = 0.0.0.0
port = 8002

# Are we running in debug mode? turns on auto-reload on code changes
reload = True
workers = 1

# Should we create an SSL connection through uvicorn?
use_ssl = False

# Setting for the SSL connection when enabled, defined by the use_ssl setting.
base_dir = secrets/ssl
cert_file = server.crt
key_file = server.key
